<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="E:\C#\ASP.NET\Workspace\UserProject\internal_logs\internallog.txt">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="E:/C#/ASP.NET/Workspace/UserProject/logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>
  <rules>
    E:\C#\ASP.NET\Workspace\UserProject
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>